@{
    ViewData["Title"] = "Zabranjen pristup";
}

<div class="alert alert-danger mt-4">
    Nemate dozvolu za pristup ovoj stranici.
</div>

<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Nazad na početnu</a>