@{
    ViewData["Title"] = "O projektu";
}

<div class="container mt-4">
    <h1>O projektu ŠevacSport</h1>
    <hr />

    <p>
        ŠevacSport je web informacioni sistem za prodaju sportske opreme.
        Aplikacija omogućava pregled kategorija i proizvoda, kao i administraciju
        podataka kroz unos, izmenu i brisanje artikala i kategorija.
    </p>

    <p>
        Sistem je razvijen kao seminarski rad iz oblasti informacionih sistema,
        korišćenjem ASP.NET Core MVC arhitekture, SQL Server baze podataka
        i Entity Framework Core tehnologije.
    </p>

    <h3>Osnovne funkcionalnosti</h3>
    <ul>
        <li>pregled kategorija sportske opreme</li>
        <li>pregled proizvoda po kategorijama</li>
        <li>unos novih proizvoda i kategorija</li>
        <li>izmena i brisanje postojećih podataka</li>
        <li>prikaz detalja proizvoda</li>
        <li>osnova za dalju nadogradnju korpe i poručivanja</li>
    </ul>

    <h3>Autor</h3>
    <p>Ime i prezime: Senad Bekirovski</p>

    <h3>Tehnologije</h3>
    <ul>
        <li>ASP.NET Core MVC</li>
        <li>C#</li>
        <li>Entity Framework Core</li>
        <li>SQL Server</li>
        <li>HTML, CSS, Bootstrap</li>
    </ul>
</div>