@{
    ViewData["Title"] = "Kontakt";
}

<div class="container mt-4">
    <h1>Kontakt</h1>
    <hr />

    <p><strong>Autor:</strong> Senad Bekirovski</p>
    <p><strong>Seminarski rad:</strong> Web informacioni sistem za prodaju sportske opreme</p>
    <p><strong>Tehnologije:</strong> ASP.NET Core MVC, Entity Framework Core, SQL Server</p>
</div>